/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


/* RESET BROWSER STYLE */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.3;
}

ol { 
	padding-left: 0;
	list-style: none
}

ul {
	padding-left: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} 

a {
    text-decoration: none;
}

/* VARIABLES */
:root {
    --blackContainer: rgb(32, 35, 42);
    --alphaBlackContainer: rgba(32, 35, 42, 0.9);
    --bannerColor: rgb(4, 120, 167);
    --linksHover: rgb(6, 160, 221);
    --greenColor: rgb(25, 200, 83);
    --yellowColor: rgb(206, 203, 12);
    --redColor: rgb(206, 36, 36);
    --lightBlueColor: rgb(10, 224, 214);
    --purpleColor: rgb(165, 50, 219);
    --mainContent: rgb(172, 214, 221);
    --fullSidebarSize: 20vw;
    --leftSidebarSize: calc(var(--fullSidebarSize)/6);
    --hoverButtonsAlpha: rgba(6, 160, 221, 0.3);
}

/* GENERAL STYLES */
html, body {
    font-size: 1.5vw;
}

* {
    box-sizing: border-box;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    font-size: 0.85rem;
}

.container-medium {
    font-size: 0.75rem;
}

.container-short {
    font-size: 0.70rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}

p, span, label, a {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}

a {
    color: white;
}

.medium__icons {
    font-size: 1.2em;
}

/* HEADER */
.header {
    color: white;
    background-color: var(--bannerColor);
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    padding-top: 70px;
    /*background-image: url(../img/universe1.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
    background-clip: padding-box;
}

.navigation {
    width: 100%;
    height: 70px;
    padding: 0 7%;
    background-color: var(--alphaBlackContainer);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navigation__items {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu__button {
    cursor: pointer;
}

.menu__button:hover {
    color: var(--linksHover);
}

.nav__links-container {
    height: 100%;
}

.nav__links {
    display: inline-block;
    height: 100%;
    padding: 0 25px;
    color: white;
    line-height: 70px;
    
}

.nav__links:hover {
    color: rgb(6, 160, 221);
    border-bottom: 3px solid rgb(6, 160, 221);
}

.title__container {
    width: 40%;
    height: 15vw;
    left: 30%;
    position: absolute;
    top: calc((100vh - 15vw) * .5);
    border: 5px solid white;
    /*box-shadow: 0px 0px 35px 9px rgb(36, 150, 196);*/
    border-radius: 5px;
    background-color: var(--bannerColor);
    /*background-image: radial-gradient(circle 220px at 50% 50%, rgb(4, 83, 114) 200px, rgb(22, 107, 141));*/
    overflow: hidden;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
}

.title__container h1 {
   
}

.title__container h2 {
    position: relative;
    height: 1.5em;
    /*display: inline-block;*/
    overflow: hidden;
    border-right: 1px solid white;
    /*color: var(--alphaBlackContainer);*/
}

.subtitle {
    position: absolute;
    left:0;
    top: 0;
    width: auto;
    white-space: nowrap;
    opacity: 0;
    text-transform: uppercase;
}

b.visible {
    opacity: 1;
}

/* LEFT-SIDEBAR */
.left-sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    width: var(--leftSidebarSize);
    background-color: rgba(32, 35, 42, 0.9);
    border-radius: 0 10px 10px 0;
    display: block;
    z-index: 2;
}

.disable-left-sidebar {
    display: none;
}

.profile-contact a span {
    position: absolute;
    top: 0;
    left: var(--leftSidebarSize);
    width: auto;
    white-space: nowrap;
    padding: calc(var(--fullSidebarSize) * 0.04) 18% calc(var(--fullSidebarSize) * 0.04) 0;
    border-radius: 0 1.3vw 1.3vw 0 / 0 50% 50% 0;
    font-size: 1.0em;
    display: none;
}

.profile-contact a:hover span {
    display: inline-block;
}

.profile-contact .profile-addres:hover span {
    background-color: rgb(206, 36, 36);
}

.profile-contact .profile-phone:hover span {
    background-color: rgb(206, 203, 12);
}

.profile-contact .profile-mail:hover span {
    background-color: rgb(25, 200, 83);
}

.profile-contact .profile-linkedin:hover span {
    background-color: var(--linksHover);
}

/* FULL SIDEBAR */
.full-left-sidebar {
    position: fixed;
    top: 70px;
    left: -20vw;
    width: var(--fullSidebarSize);
    height: calc(100% - 70px);
    padding: 20px 0 30px; /*Count 30px top and bottom*/
    background-color: rgba(32, 35, 42, 0.9);
    transition: left 350ms linear;
    color: #fff;
    z-index: 1;
}

.active-full-sidebar {
    /*left: calc(var(--leftSidebarSize) - var(--fullSidebarSize));*/
    left: 0;
}

.profile-intro-information {
    text-align: center;
    margin-bottom: 10px; /*Count 10px*/
}

.profile-image {
    width: calc(var(--fullSidebarSize) * .60);
    height: calc(var(--fullSidebarSize) * .60); /*Count the 60% of 20vw*/
    margin: 0 auto 20px; /*Count 20px*/
    border-radius: 50%;
    border: 2px solid white;
    background-image: url(../img/profile-image.jpg);
    background-size: cover;
    background-position: center top;
}

.profile-objective {
    margin: 0 18px 10px; /*Count 10px*/
    text-align: justify;
}

.profile-contact {
    width: 100%;
    padding: calc(var(--fullSidebarSize) * 0.03) 0;
}

.profile-contact i {
    width: var(--leftSidebarSize);
    text-align: center;
}

.profile-contact a {
    position: relative;
    display: block;
    padding: calc(var(--fullSidebarSize) * 0.04) 0;
}

.linkedin-icon {
    color: var(--linksHover);
}

.mail-icon {
    color: var(--greenColor);
}

.phone-icon {
    color: var(--yellowColor)
}

.addres-icon {
    color: rgb(206, 36, 36);
}

.profile-icons:hover {
    border-radius: 0 8% 8% 0 / 0 50% 50% 0;
}

.profile-addres:hover {
    background-color: rgb(206, 36, 36);
}

.profile-phone:hover {
    background-color: rgb(206, 203, 12);
}

.profile-mail:hover {
    background-color: rgb(25, 200, 83);
}

.profile-linkedin:hover {
    background-color: var(--linksHover);
}

.profile-contact a:hover i {
    color: white;
}

/* MAIN-INFORMATION */
.main-container {
    width: 100%;
    padding: 23px 19px 23px 0;
    background-color: var(--mainContent);
    display: flex;
}

.body-information {
    margin-left: calc(var(--leftSidebarSize) + 23px);
    min-width: calc(57% - 30px);
    max-width: calc(77% - (var(--leftSidebarSize) + 23px));
    transition: all 350ms linear;
}

.body-information-short {
    margin-left: calc(20% + 30px);
}

.information-sections {
    width: 100%;
    background-color: white;
    margin-bottom: 23px;
    padding: 25px 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.information-sections:last-child {
    margin-bottom: 0;
}

.information-sections h3 {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
}

/* Experience and Education Section */
.sub-section-container {
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.sub-section-container:last-child, .sub-section-container:last-child {
    border: 0;
}

.job-logo, .education-logo, .volunteering-logo {
    position: absolute;
    top: 25px;
    width: 8%;
    border-radius: 50%;
}

.job-information, .education-information, .volunteering-information {
    margin-left: 10%;
}

.subtitle-section {
    color: rgb(6, 44, 75);
}

/* Details Option from Experience */
.details {
    position: absolute;
    top: 35px;
    right: 8%;
}

.details-button {
    display: inline-block;
    cursor: pointer;
    padding: 4px 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    color: var(--linksHover);
    background-image: linear-gradient(to bottom, rgb(236, 236, 236), rgb(255, 255, 255));
}

.details-button i {
    padding-right: 4px;
}

.details-button:hover {
    background-image: linear-gradient(to top, rgb(236, 236, 236), rgb(255, 255, 255));
}

.details-box {
    padding: 10px;
    width: 430%;
    position: absolute;
    z-index: 2;
    left: -210%;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.details-box>h4, .details-box>h5 {
    padding-left: 10%;
}

.details-box>h5 {
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.details-box img {
    top: 15px;
}

.details-info {
    display: flex;
}

.details-info h5 {
    margin-bottom: 8px;
}

.goals-container, .tools-container {
    flex: 0 0 50%;
    text-align: center;
}

.goals-container i {
    font-size: 5.5em;
    color: rgb(247, 243, 4);
}

.goals-container i{
    text-align: center;
}

/* Pie Chart Graphic */
.pie-chart {
    position: relative;
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.pie-segment {
    --a: calc(var(--over50, 0) * -100%);
    --b: calc((1 + var(--over50, 0)) * 100%);
    --degrees: calc((var(--offset, 0)/100) * 360);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees, 0) * 1deg));
    transform-origin: 50% 100%;
    clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    -webkit-clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
}

.pie-segment:after, .pie-segment:before {
    background-color: var(--bg, #e74c3c);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.pie-segment:before {
    --degrees: calc((var(--value, 45)/100) * 360); /*Equation to transform the porcentages values in degrees*/
    content: attr(data-label);
    transform: translate(-50%, 100%) rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 0;
    color: white;
    font-size: 0.7em;
    text-align: left;
}

.pie-segment:after {
    transform: translateX(-50%);
    opacity: var(--over50, 0);
}

/* DEV SKILLS */
.dev-skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.dev-skill {
    width: 50%;
    padding: 5% 0;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.bar-chart {
    width: 75%;
    height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding-right: 75%;
    background-origin: content-box;
    background-clip: content-box;
    transition: all 1000ms linear;
}

.htmlBar, .cssBar {
    padding-right: 7.5%;
}

.jsBar {
    padding-right: 11.25%;
}

.reactBar, .gitBar {
    padding-right: 52.5%;
}

.seoBar {
    padding-right: 30%;
}

/* LANGUAGES CONTAINER */
.language-container {
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    background-color: white;
}

.language-container .bar-chart {
    width: 30%;
    padding-right: 30%;
    margin: 0 10px;
}

.arrow-down-button {
    position: absolute;
    top: 20%;
    right: 3%;
    color: rgb(6, 44, 75);
    width: 3vw;
    height: 3vw;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in 200ms;
}

.arrow-down-button i {
    line-height: 3vw;
}

.arrow-down-button:hover {
    background-color: var(--hoverButtonsAlpha);
}

.english {
    padding-right: 9% !important; 
}

.spanish {
    padding-right: 0% !important;
}

.facts-language-container {
    background-color: rgb(236, 236, 236);
    padding: 15px 10px;
    color: rgb(6, 160, 221);
    animation: dropDown 600ms;
    border: 0;
}

@keyframes dropDown {
    from {
        transform: translateY(-70px);
    }
    to {
        transform: translateY(0px);
    }
}

.facts-language-container:last-child {
    margin-bottom: 20px;
}

.facts-language-container ul {
    list-style-type: disc;
    list-style-position: inside;
}

.facts-language-container ul li {
    margin-bottom: 5px;
}

.projects-container {
    margin-left: 23px;
    width: calc(23% - 23px);
    min-width: calc(23% - 23px);
    max-width: calc(23% - 23px);
}