/* Most commun laptop size */
@media screen and (max-width: 1366px) {
    /* BODY INFORMATION & PROJECTS CONTAINER */
    .body-information {
        min-width: calc(52% - 30px);
        max-width: calc(72% - (var(--leftSidebarSize) + 23px));  
    }

    .projects-container {
        width: calc(28% - 23px);
        min-width: calc(28% - 23px);
        max-width: calc(28% - 23px);
    }

    /*.portfolio-video {
        height: calc((28vw - 23px) * 0.54);
    }*/

    /* FOOTER */ 
    .media-anchor {
        width: 45px;
        height: 45px;
        font-size: 21px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        font-size: 0.90rem;
    }
    
    .container-medium {
        font-size: 0.80rem;
    }
    
    .container-short {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --fullSidebarSize: 30vw;
        --bannerImage: 100px;
        --paddingTitle: 15px;
        --HeightTitle: calc(var(--bannerImage) + var(--paddingTitle) + var(--paddingTitle));
    }

    html, body {
        font-size: 19px;
    }

    /* HEADER */
    .nav__links-container {
        display: none;
    }

    .nav-logo {
        display: block;
    }

    /* banner */
    .title__container {
        display: block;
        text-align: left;
        width: 600px;
        left: calc(50% - (600px*0.5));
        height: var(--HeightTitle);
        top: calc((100vh - var(--HeightTitle)) * 0.5);
        padding: var(--paddingTitle) var(--paddingTitle);
        border: 0;
    }

    .banner-profile-image {
        display: block;
        width: var(--bannerImage);
        height: var(--bannerImage);
        position: absolute;
        top: var(--paddingTitle);
        left: var(--paddingTitle);
    }

    .title__container h1, .title__container h2 {
        margin-left: calc(var(--bannerImage) + 10px);
    }

    /* nav sidebar */
    .profile-intro-information, .profile-objective, .profile-contact {
        display: none;
    }

    .full-left-sidebar {
        padding: 0;
        display: flex;
        align-items: center;
    }

    .nav-sidebar {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .nav-sidebar li:last-child {
        order: -1;
    }

    .nav-sidebar-link {
        display: inline-block;
        width: 100%;
        padding: 15px 0;
        text-transform: uppercase;
    }

    .nav-sidebar-link:hover {
        color: var(--linksHover);
    }

    /* MAIN CONTAINER */
    .main-container {
        flex-direction: column;
    }

    .body-information {
        order: 1;
    }

    .projects-container {
        order: 0;
        width: auto;
        min-width: calc(55% - 30px);
        margin-bottom: 23px;
        transition: all 350ms linear;
    }

    .body-information, .projects-container {
        max-width: calc(100% - 19px);
        margin-left: 19px;
    }

    /* LEFT SIDEBAR */
    .left-sidebar {
        display: none;
    }
}

/* PORTRAIT */
@media screen and (max-width: 1024px) and (orientation: portrait) {
    
}